<form action="/login" method="post" class="forma">
  <label for="nickname">Nickname</label> <br />
  <input type="name" name="nickname" />
  <br />
  <label for="password">Password</label> <br />
  <input type="password" name="password" />
  <br />
  <button type="submit">Login</button>
</form>
