<style>
  @import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
  * {
    background-color: black;
    color: white;
    margin: 0;
  }
  body {
    background-image: url("https://i.gifer.com/Lbqn.gif");
    background-size: cover;
    height: 100vh;
  }
  nav {
    border-bottom: 2px solid #333;
  }
  button {
    background-color: transparent;
    border: none;
    font-family: "Press Start 2P", cursive;
    font-size: 2rem;
    margin: 5px;
    margin-left: 20px;
  }
  button:hover {
    color: rgb(114, 114, 255);
  }
</style>
<nav>
  <a href="/login"><button id="login">Login</button></a>
  <a href="/register"><button id="register">Register</button></a>
</nav>
