<form action="/register" method="post" class="forma">
  <label for="nickname">Nickname</label> <br />
  <input type="name" name="nickname" />
  <br />
  <label for="email">Enter your mail</label> <br />
  <input type="email" name="email" />
  <br />
  <label for="password">Password</label> <br />
  <input type="password" name="password" />
  <br />
  <button type="submit">Register</button>
</form>
